.noUnderlineNavbar{
    text-decoration: none !important;
    color: white !important;
}
.noUnderline{
    text-decoration: none !important;
}
.black {
    color: black;
}
.none {
    display: none;
}
.show {
    display: flex;
}